* {
  cursor: url("../img/cursor.png"), auto;
}

body {
  background: #0062ff;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

main {
  color: black;
}

.espaco-branco {
  background: white;
  border-radius: 30px;
  padding: 35px;
}