* {
  cursor: url("../img/cursor.png"), auto;
}

body {
  background: #0062ff;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.espaco-branco {
  background: white;
  border-radius: 30px;
  padding: 35px;
}

@media only screen and (max-width: 1550px) {
  .espaco-branco {
    height: 125vh;
  }
}

@media only screen and (max-width: 940px) {
  .espaco-branco {
    height: 175vh;
  }
}

@media only screen and (max-width: 718px) {
  .espaco-branco {
    height: 275vh;
  }
}