@media only screen and (max-width: 1550px) {
  .espaco-branco {
    height: 125vh;
  }
}

@media only screen and (max-width: 940px) {
  .espaco-branco {
    height: 175vh;
  }
}

@media only screen and (max-width: 718px) {
  .espaco-branco {
    height: 220vh;
  }
}